.vowel-chart-container {
	position: relative;
}

.vowel-chart-svg {
	fill: var(--fg-color);
	stroke: var(--fg-color);
}

.vowel-chart-text-float-container {
	position: absolute;
	top: 0px;
	left: 0px;
}

.vowel-chart-text-float.left {
	transform: translate(-100%, -60%);
}

.vowel-chart-text-float.right {
	transform: translate(0%, -60%);
}

.vowel-chart-text-float.middle {
	transform: translate(-50%, -60%);
}

.vowel-chart-text-float {
	position: absolute;
	background: var(--bg-color);
	color: var(--fg-color);

	padding: 0px 4px;
	border-radius: 6px;
	user-select: none;
	text-wrap-mode: nowrap;
	line-height: 1em;
}

.vowel-chart-text-dot {
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: var(--bg-color);
}




.consonant-table-container tr th,
.consonant-table-container tr td {
	padding: 4px 4px;
	text-align: center;
	width: 28px;
}

.consonant-table-container tr th {
	vertical-align: middle;
}

.consonant-table-container tr td:nth-child(1) {
	padding: 4px 4px;
}

.consonant-table-container strong {
	font-size: smaller;
}

.consonant-table-container tr td:nth-child(even) {
	border-right: none;
}

.consonant-table-container tr td:nth-child(2n+3) {
	border-left: none;
}

.consonant-table-container th {
	font-weight: bold;
}